{{#if todos.length}}
  {{#each todos}}
    {{!-- Bu yerda 'this' ichida dueAtFormatted va dueAt tayyor bo'lishi shart --}}
    {{> todo-item this}}
  {{/each}}
{{else}}
  <li class="todo todo--empty">
    <i class="fa-regular fa-circle-check todo--empty__icon"></i>
    <span>All clear — add a task above to get started.</span>
  </li>
{{/if}}